@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);

body {
  /*background-color: #f0f0f0;*/
  background-image: url("images/lines.png");
  background-repeat: repeat-y;
  background-size: 100%;
  /*background-color: #B58585;*/
  font-size: 20px;
  color: #31322C;
  font-family: 'Cairo', sans-serif;

  /*font-family: 'Ubuntu Mono', mono;*/
}

img {
   width: 100%;
   max-width: 100%;
 }

#container {
  margin: 2em auto;
  max-width: 680px;
  /*border-radius: 0.2em;*/
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#main {
  padding: 0.1em 1em;
}

a {
  color: #000;
}

a:hover {
  color: #66d9ef;
}

.readme {
  margin: 20px 0;
  text-align: right;
}

table {
  width: 100%;
  text-align: left;
}

.buf_top {
  margin-top: 10cm;
}

.buf_bot {
  margin-bottom: 10cm;
}
